body{
    background-color: #222B45;
    min-width: 1150px;
}

/* -----------------------------------------NAVBAR STYLES */
.navbar{
    background-color: #222b45;
} 

.link{
    padding-right: 15px;
    padding-left: 15px;
    text-decoration: none;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 500;
    color: #FFCD05
}

.link:hover{
    color: #D62237;
    text-decoration: underline;
}


/* ---------------------------------------MAIN SECTION STYLES */
#main{
    background-color: #222B45;
    color: #FFCD05;
    height: 70lvh;
    /* min-width: 800px; */
    margin: 0;
    height: 550px;
}
#demo1{
    text-align: center;
}

#demo5{
    visibility: hidden;
    font-size: 2.2rem;
    font-family: 'Fira Code', monospace;
    background-color: #1ea51d;
    color:#222B45;
    text-decoration: none;
    border-radius: 10px;
}

.main-container{
    width: 80%;
    margin: auto;
    font-size: 2.2rem;
    font-family: 'Fira Code', monospace;
    max-width: 1300px;
    color: #1ea51d;
}

.main-container h1{
    text-align: center;
}

#button-container{
    text-align: right;
}


/* ----------------------------------------INTRO SECTION STYLES */

#introduction{
    background-color: #fff;
    color: #1c2743;
    width: 80%;
    margin: auto;
    /* min-width: 1000px; */
}

.intro-text h2{
    text-align: center;
}

.intro-text p{
    font-size: 1.5rem;
    line-height: 2;
}

#intro-img{
    display: block;
    width: 250px;
    margin: auto;
    border-radius: 300px;
    border: 1px #1c2743 solid;
}

/* ----------------------------------------------COURSE SECTION */
#courses{
    width: 100%;
    margin:auto;
}

#courses-container{
    width: 80%;
    margin:auto;
}

/* ----------------------------------------------CERTIFICATIONS SECTION - MAIN*/
#certifications button{
    border-radius: 20px;
    font-size: 1.5rem;
    font-family: 'Fira Code', monospace;
    border: 2px #1ea51d solid;
    background-color: transparent;
    color: #1ea51d;
}

#certifications button:hover{
    background-color: #1ea51d;
    color: #1c2743;
}

#certifications p{
    font-size: 1.5rem;
    line-height: 1.5;
}



/* ------------------------------------------------COURSES PAGE STYLES */

.accordion-style{
    color:#222b45; 
    font-size: 1.5rem;
}



/* -----------------------------------------------FOOTER SECTION */

footer{
    color:#FFCD05;
    background-color: #222B45;
    text-align: center;
}

/* --------------------------------------------------WORK SAMPLES SECTION */
#personal-samples img{
    filter:grayscale(80%);
}

#personal-samples img:hover{
    filter:grayscale(0%);
}

#john-lemon-video{
    display: block;
    margin: auto;
}

/* ----------------------------------------------------CREDENTIALS PAGE */

#teaching-credentials{
    width: 80%;
    margin: auto;
}

.teaching-credentials-sub{
    padding: 5px 10px;
    border-radius: 10px;
}

.teaching-credentials-sub:hover{
    background-color: rgb(248, 248, 248);
}

#teaching-credentials h4{
    color: #c6c5c5;
}

#tech-certs .card:hover{
    background-color: rgb(248, 248, 248);
}

/* -----------------------------------------------WORKSHOPS SECTION */
#workshops{
    width: 80%;
    margin: auto;
}

#workshops h4{
    color: #c6c5c5;
}

#workshops div{
    padding: 5px 10px;
    border-radius: 10px;
}

#workshops div:hover{
    background-color: rgb(248, 248, 248);
}


@media only screen and (max-width: 600px) {
    body{
        min-width: 100vw;
    }

    .main-container p{
        font-size: 1.5rem;
    }

    .link{
        font-size: 1.5rem;
        line-height: 2;
    }

    #main{
        height: 700px;
    }

    #button-container{
        text-align: center;
    }

    #demo5{
        font-size: 1.5rem;
    }

    .intro-text h2{
        font-size: 1.5rem;
        font-weight: 700;
        text-align: center;
    }

    .intro-text p{
        font-size: 1.3rem;
        line-height: 2;
    }

    
    #courses-container{
        font-size: 1.3rem;
    }

    #courses-container h2{
        font-size: 1.5rem;
    }

    #courses-container h3{
        font-size: 1.4rem;
    }

    #courses-container a{
        margin-bottom: 30px;
    }


    #certifications h1{
        font-size: 1.5rem;
    }

    #certifications p{
        font-size: 1.3rem;
    }

    #certifications button{
        font-size: 1.3rem;
    }

    .accordion-style{
        font-size: 1.5rem;
    }


    #personal-samples img{
        filter:grayscale(0);
    }

    #student-samples h2{
        font-size: 2rem;
    }

    .card-title{
        font-size: 1.5rem;
    }

    .card-text{
        font-size: 1.2rem;
    }
    

    #my-samples h2{
        font-size: 2rem;
    }

    #john-lemon-video{
        width: 275px;
        height: 155px;
        display: block;
        margin: auto;
    }

    #teaching-credentials-header{
        font-size: 2rem;
    }

    .teaching-credentials-sub h3{
        font-size: 1.5rem;
    }
    .teaching-credentials-sub h4{
        font-size: 1.4rem;
    }
    .teaching-credentials-sub p{
        font-size: 1rem;
    }

    #tech-certs-header{
        font-size: 2rem;
    }

    #tech-certs .card a{
        width: 90%;
        margin:auto;

    }
    
    #tech-certs .card-body{
        padding: 0 40px 40px 40px;
    }

    #workshops-header{
        font-size: 2rem;
    }

    #workshops h3{
        font-size: 1.5rem;
    }
    #workshops h4{
        font-size: 1.4rem;
    }
    #workshops p{
        font-size: 1rem;
    }


}

/* ADDED FOR ANIMS */
.cup{
    height: 140px;
    width: 180px;
    border: 6px solid #efb54a;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 0px 0px 70px 70px;
    background: url("images/coffee.png");
    box-shadow: 0px 0px 0px 6px white;
    background-repeat: repeat-x;
    background-position: 0px 140px;
    animation: fill 2.5s infinite;
}
@keyframes fill{
    0%{
        background-position: 0px 140px;
    }
    20%{
        background-position: -450px 100px;
    }
    40%{
        background-position: -900px 50px;
    }
    80%{
        background-position: -1350px -40px;
    }
    100%{
        background-position: 0px 140px;
    }
}
.handle{
    height: 70px;
    width: 40px;
    background-color: transparent;
    border: 6px solid white;
    position: relative;
    left: 187px;
    top: 12px;
    border-radius: 0px 20px 60px 0px;
}


.container-cradle{
    height: 150px;
    width: 300px;
    border-top: 22px solid #fbb226;
    position: relative;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.ball{
   height: 150px;
   width: 5px;
   background-color: #fbb226; 
   position: relative;
   transform-origin: top;
}

.ball:after{
    position: absolute;
    content:"";
    height: 60px;
    width: 60px;
    background-color: white;
    border-radius: 50%;
    left: -30px;
    bottom: -60px;
}

.ball:first-child{
    animation: swing1 1.2s infinite linear;
}
@keyframes swing1{
    25%{
        transform: rotate(50deg);
    }
    50%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

.ball:last-child{
    animation: swing2 1.2s infinite linear;
}
@keyframes swing2{
    50%{
        transform: rotate(0deg);
    }
    75%{
        transform: rotate(-50deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

.fidget{
    position: absolute;
    transform: (-50%, -50%);
    top: 40%;
    left: 40%;
    height:80px;
    width: 80px;
    background-color: #f2f2f2;
    border-radius: 50%;
    animation: spin 2s infinite;

}
@keyframes spin{
    50%{
        transform: rotate(360deg);
    }
}


.circle-1,.circle-2,.circle-3{
    position: relative;
    background-color: transparent;
    border: 10px solid #f2f2f2;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.circle-1{
    bottom: 48px;
    left: 15px;
}

.circle-2{
    bottom: 1px;
    left: 69px;
}

.circle-3{
    bottom: 50px;
    right: 35px;
}

.inner-1,.inner-2,.inner-3{
    position: relative;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    left:0px;
    top:0px;
}

.inner-1{
    background-color: #4775ff;
}
.inner-2{
    background-color: #ffd147;
}
.inner-3{
    background-color: #ff6347;
}
